{% extends 'main/base.html' %}

{% block title %}
    Об игре
{% endblock %}

{% block titles %}
<div class="header__titles">
    <div class="first__title">Основная информация о Клубе романтики</div>
</div>
{% endblock %}

{% block content %}
<div class="about_main">
    <div class="container">
        <div class="white_box">
            <p class="black_text">
                <b>Клуб Романтики</b> - игра в жанре визуальной новеллы,
                разработанная молдавской компанией <i>Your story interactive</i>.
                В начале 2020-х годов является одной из самых популярных игр в своём сегменте
                (10 млн скачиваний в Google Play, более 1,5 млн участников в группе ВКонтакте).
            </p>
        </div>
    </div>

    <div class="container white_text">
        Скачать Клуб Романтики:
        <div class="link__list">
          <div class="link scale_icon">
              <a href="https://play.google.com/store/apps/details?id=com.yourstoryinteractive.sails.pirate.adventure" target="_blank">
                  <i class="fa fa-android fa-fw fa-3x" aria-hidden="true"></i>
              </a>
          </div>
          <div class="link scale_icon">
              <a href="https://apps.apple.com/us/app/romance-club-stories-i-play/id1300588558" target="_blank">
                  <i class="fa fa-apple fa-fw fa-3x" aria-hidden="true"></i>
              </a>
          </div>
          <div class="link scale_icon">
              <a href="https://store.steampowered.com/app/2433470/Romance_Club__Stories_I_Play" target="_blank">
                  <i class="fa fa-steam fa-fw fa-3x" aria-hidden="true"></i>
              </a>
          </div>
        </div>
    </div>


    <div class="container white_text">
        Официальные страницы в ВК и Телеграм:
    </div>

    <div class="block">
        <div class="vector_white"></div>
        <div class="vector_gradient">

            <div class="container">
                <div class="vk_card transform scale_about">
                    <a href="https://vk.com/romanceclubofficial" target="_blank">
                        <img src="/media/main/about/vk.png" alt="https://vk.com/romanceclubofficial">
                    </a>
                </div>
                <div class="vk_card transform scale_about">
                    <a href="https://t.me/official_romanceclub" target="_blank">
                        <img src="/media/main/about/tg.png" alt="">
                    </a>
                </div>
            </div>

            <div class="container transform">
                <div class="white_box">
                    <p class="black_text">
                        В игре существует внутренняя валюта — <b>алмазы</b>,
                        которые позволяют приобретать вещи (одежду и украшения для героини),
                        а также совершать действия, влияющие на отношения с партнёром;
                        от них иногда зависит исход игры.
                        <br><br>
                        Другая внутренняя валюта — <b>чашки чая</b>:
                        каждая позволяет пройти одну серию любой истории.
                        Всего можно накопить три чашки, пополняются они каждые три часа.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}

