{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/breadcrumbs.css' %}">
{% endblock %}

{% if breadcrumbs %}
    <nav class="header__titles breadcrumbs">
        <ul class="breadcrumbs__list">
        {% for item in breadcrumbs %}
            <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" itemprop="item"
                   href='{{ item.url }}'>
                    <span itemprop="name">{{ item.name }}</span>
                </a>
            </li>
        {% endfor %}
        </ul>
    </nav>
{% endif %}

