{% extends 'main/base.html' %}

{% block title %}Новости{% endblock %}

{% block titles %}
<div class="header__titles">
    <div class="first__title">Свежие новости Клуба Романтики</div>
    <div class="second__title">Расписание выхода историй и игровых событий</div>
</div>
{% endblock %}

{% block content %}
<div class="detail">
    {% include 'main/navigation.html' %}

    {% for new in news %}
        <div class="detail__card">
            <a href="{% url 'new_detail' pk=new.pk %}">
            <div class="detail__content">
                <div class="detail__image detail__scale">
                    <img class="image__detail" src="{{ new.image.file.url}}" alt="{{ new.name }}" />
                </div>
                <div class="detail__container">
                    <div>
                        <div class="detail__title">
                            <span>{{ new.title }}</span>
                        </div>
                        <div class="detail__text">
                            <span>{{ new.text|linebreaks|truncatewords:30 }}</span>
                        </div>
                    </div>
                    <div class="detail__date">
                        <span>{{ new.date }}</span>
                    </div>
                </div>
            </div>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}

