{% extends 'main/base.html' %}

{% block title %}
{{ character_name }}
{% endblock %}

{% block titles %}
    <div class="header__titles">
        <div class="first__title">{{ new.title }}</div>
    </div>
{% endblock %}

{% block content %}
    <div class="cards cards__scene">
        <div class="card">
            <div class="card__image scene">
                <img class="image" src="{{ new.image.file.url}}" alt="{{ new.name }}" />
            </div>
            {{ new.text }}
        </div>
    </div>
{% endblock %}
