{% extends 'main/base.html' %}

{% block title %}
{{ character_name }}
{% endblock %}

{% block titles %}
    <div class="header__titles">
        <div class="first__title">{{ new.title }}</div>
	<div class="second__title">Дата публикации: {{ new.date }}</div>
    </div>
{% endblock %}

{% block content %}
    <div class="detail">
        <div class="detail__card">
            <div class="detail__title">
                {{ new.title }}
            </div>
            <div class="detail__content">
                <div class="detail__image">
                    <img class="image image__detail" src="{{ new.image.file.url }}" alt="{{ new.name }}" />
                </div>
                <div class="detail__text">
                    {{ new.text }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
