{% extends 'main/base.html' %}

{% block title %}
{{ character_name }}
{% endblock %}

{% block titles %}
    <div class="header__titles">
        <div class="first__title">{{ new.title }}</div>
        <div class="second__title">Дата публикации: {{ new.date }}</div>
    </div>
{% endblock %}

{% block content %}
    <div class="detail">
        <div class="detail__card">
            <div class="detail__content">
                <div class="detail__image">
                    <img class="image__detail" src="{{ new.image.file.url}}" alt="{{ new.name }}" />
                </div>
                <div class="container">
                    <div>
                        <div class="detail__title">
                            <span>{{ new.title }}</span>
                        </div>
                        <div class="detail__text">
                            <span>{{ new.text }}</span>
                        </div>
                    </div>
                    <div class="detail__date">
                        <span>{{ new.date }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

