{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    {{ character.name }}
{% endblock %}

{% block titles %}
<div class="header__titles">
    <div class="first__title">{{ character.name }}</div>
    <div class="second__title">История "{{ character.story }}"</div>
</div>
{% endblock %}

{% block content %}
    <div class="cards cards__scene">
        {% for character in character.scene_set.all %}
	    <div class="card">
                <div class="card__image scene">
                    <img class="image" src="/media/{{ character.image.name }}" alt="p" />
                </div>
	    </div>
        {% endfor %}
    </div>
{% endblock %}
