{% extends 'main/base.html' %}

{% block title %}
{{ story_name }}
{% endblock %}

{% block titles %}
    <div class="header__titles">
        <div class="first__title"> История "{{ story_name }}" </div>
    </div>
{% endblock %}

{% block content %}
<div class="cards cards__character">
    {% for character in characters %}
        {% if character.image %}
            <div class="card">
                <a href="{% url 'scene_list' story=character.story.url character=character.url %}">
                    <div class="card__image character scale">
                        <img src="{{ character.image.url }}" alt="{{ character.name }}" />
                    </div>
                    {{ character.name }}
                </a>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}

