{% extends 'main/base.html' %}

{% block title %}
{{ character_name }}
{% endblock %}

{% block titles %}
<div class="header__titles">
    <div class="first__title">{{ character_name }}</div>
    <div class="second__title">История "{{ story_name }}"</div>
</div>
{% endblock %}

{% block content %}
    <div class="cards cards__scene">
        {% for scene in scenes %}
	    <div class="card">
                <div class="card__image scene">
                    <img class="image" src="{{ scene.image.url }}" alt="{{ character.name }}" />
                </div>
	    </div>
        {% endfor %}
    </div>
{% endblock %}
