{% extends 'main/base.html' %}

{% block title %}
    Истории
{% endblock %}

{% block titles %}
<div class="header__titles">
    <div class="first__title">Каталог историй Клуба Романтики</div>
    <div class="second__title">Все сцены с любимыми фаворитами в одном месте!</div>
</div>
{% endblock %}

{% block content %}
<div class="cards cards__story">
    {% for story in stories %}
        {% if story.image %}
            <div class="card">
                <a href="{{ story.get_absolute_url }}">
                    <div class="card__image card__story scale">
                        <img src="{{ story.image.url }}" alt="{{ story.name }}" />
                    </div>
                    {{ story.name }}
                </a>
            </div>
        {% endif %}
    {% endfor %}
</div>

<div class="footer__wrapper">
    <div class="footer__text">
        © All Rights Reserved, 2023
    </div>
</div>
{% endblock %}

